body {
  font-size: 16px;
  color: #fff;
  font-family: 'Oxygen', sans-serif;
}

#header-nav {
  background-color: #808080;
  border-radius: 0;
  border: 0;
}
.abcd{
	color: black;
	font-size: 50px;
	color: white;

}
.text-center h2{
	color: #000000
}
.navbar-brand a{
	font-size: 50px;
	color:white;
	font-family: 'Oxygen', sans-serif;
}
.abc{
	background-color: white;
	color: black;

}
.p {
    text-align: justify;
    padding: 7px;
}
.container div{
	 display: inline-block;
    float: left;
    border: 1px solid black;
    background-color: #808080;
}
.row div{
background color:#999999;
}